*~
*.pyc
.DS_Store
_site
shell-novice/data/Users/nelle/molecules/lengths.txt
shell-novice/data/Users/nelle/molecules/middle.sh
shell-novice/data/Users/nelle/north-pacific-gyre/2012-07-03/stats-1736A.txt
shell-novice/data/Users/nelle/writing/old/old-thesis.txt
shell-novice/data/Users/nelle/writing/thesis/old-thesis.txt
